<section class="jumbotron-img">
    <nav class="navbar">
        <div class="navlogo">Nerdy
            <spam>By</spam>
            <br>Nature
            <!-- <div class="dropdown-content">
        <!-- <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a> -->
        </div>
        <div onclick="menuDrop('cart-menu', 45)">
          <img class="menu-item" id="menu-icon" src="./full_cart.svg" alt="menu-icon" />
        </div>
        <div class="menu-item">Contact Us</div>
        <div onclick="sideDrop('modal-drop', 100)" class="menu-item">Login</div>
        <div id="modal-drop"  class="modal">
          <div class="modal-container">
            <div class="modal-image"></div>
            <div class="modal-login">
              <div onclick="sideDrop('modal-drop', 100)" class="close-modal">CLOSE X</div>
              <div class="login-content">
                <div class="login-welcome">
                  <h1>Login to your account</h1>
                    <p>Login to your account to discover all that nerd swagger.</p>
                    <p>Because you're all about that life</p>
                </div>
                <form novalidate class="login-form">
                  <input class="login-fields" placeholder="Name" type="search" ng-model="user.name" /><br />
                  <input class="login-fields" placeholder="Password" type="password" ng-model="user.password" /><br />
                  <input class="login-fields" placeholder="Email" type="email" ng-model="user.email" /><br />
                  <!-- <input type="button" ng-click="reset()" value="Reset" /> -->
                  <input id="keep-me-logged-in" type="checkbox" name="vehicle" value="Car" checked="checked"><span class="keep-logged-in-text"> Keep me logged in </span>  <div class="password-reset">Forgot your password?</div><br>
                  <input class="user-login" type="submit" ng-click="update(user)" value="LOGIN &#8594;" />
                </form>
                <div class="or-login-with"> OR LOGIN WITH
                  <div class="facebook"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div  id="cart-menu" class="cart-dropdown">
      <div onclick="menuDrop('cart-menu', 45)" class="closecart">CLOSE X</div>
    </div>
    <div class="rotate">Spring / Summer 2016

    </div>
    <div ui-sref="products"  on-click="window.onload()" class="jumbo-logo">
        <h1>Shop</h1>
        <img id="glasses-svg" src="./nerd-glasses.svg" alt="" />
        <h1>Now</h1>
    </div>
</section>

<section class="about-us">
    <div class="about-header">
        <div class="hyphen-container"></div>
        About
        <spam> NerdyByNature
        </spam>
    </div>
    <div class="about-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</section>

<section class="choose-us">
    <div id="white-out" class="about-header">
        <div class="hyphen-white"></div>
        Why Choose
        <spam> NerdyByNature
        </spam>
    </div>
    <div id="white-out" class="about-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    <section class="garuntee">

        <div class="garuntee-info">
          <div class="garuntee-head">Free <br> Shipping</div>
          <p> Lorem ipsum dolor ssasdit amet, consectetur adipisicing elit,</p>
        </div>
        <div class="garuntee-info">
          <div class="garuntee-head">Dedicated<br> Support</div>
          <p> Lorem ipsum dolor sit amesddt, consectetur adipisicing elit, amskjdeooe</p>
        </div>
        <div class="garuntee-info">
          <div class="garuntee-head">100% Money <br> Back</div>
          <p> Lorem ipsum dolor sit amet mois, consectetur adipisicing elit,</p>
        </div>

    </section>

</section>

<section class="popular-products">
  <div class="about-header">
      <div class="hyphen-container"></div>
      Popular <red> Products</red>
  </div>
  <div class="product-veiwer">

    <div ng-repeat="product in store | orderBy : '-likes'" class="product-carousel">
      <img ui-sref="products" src="{{ product.image }}" alt="tshirts" />
    </div>
  </div>
</section>
