<section class="jumbotron-img">
    <nav class="navbar">
        <div class="navlogo">Nerdy
            <spam>By</spam>
            <br>Nature
            <!-- <div class="dropdown-content">
        <!-- <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a> -->
        </div>
        <div onclick="menuDrop('cart-menu', 45)">
          <img class="menu-item" id="menu-icon" src=".././images/full_cart.svg" alt="menu-icon" />
        </div>
        <div onclick="menuDrop('modal-drop-contact', 100)" class="menu-item">Contact Us</div>
        <div onclick="sideDrop('modal-drop', 100)" ng-show="!loggedUser" class="menu-item">Register</div>
        <div  ng-show="loggedUser" onclick="menuDrop('cart-menu', 45)" class="menu-item">Hey! {{loggedUser.name}} &#9662</div>

    </nav>

    <div  id="cart-menu" class="cart-dropdown">
        <div onclick="menuDrop('cart-menu', 45)" class="closecart">CLOSE X</div>
        <div class="cart-contents">Actual Cart</div>
        <div ng-show="loggedUser" ng-click="userLogout()" class="log-out">LOG OUT</div>
        <div class="cart-preview"></div>

    </div>
    <div class="rotate">Spring / Summer 2016

    </div>
    <div ui-sref="products"  class="jumbo-logo">
        <h1>Shop</h1>
        <img id="glasses-svg" src="./images/nerd-glasses.svg" alt="" />
        <h1>Now</h1>
    </div>
</section>

<section class="about-us">
    <div class="about-header">
        <div class="hyphen-container"></div>
        About
        <spam> NerdyByNature
        </spam>
    </div>
    <div class="about-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</section>

<section class="choose-us">
    <div id="white-out" class="about-header">
        <div class="hyphen-white"></div>
        Why Choose
        <spam> NerdyByNature
        </spam>
    </div>
    <div id="white-out" class="about-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    <section class="garuntee">

        <div class="garuntee-info">
          <div class="garuntee-head">Free <br> Shipping</div>
          <p> Lorem ipsum dolor ssasdit amet, consectetur adipisicing elit,</p>
        </div>
        <div class="garuntee-info">
          <div class="garuntee-head">Dedicated<br> Support</div>
          <p> Lorem ipsum dolor sit amesddt, consectetur adipisicing elit, amskjdeooe</p>
        </div>
        <div class="garuntee-info">
          <div class="garuntee-head">100% Money <br> Back</div>
          <p> Lorem ipsum dolor sit amet mois, consectetur adipisicing elit,</p>
        </div>

    </section>

</section>

<section class="popular-products">
  <div class="about-header">
      <div class="hyphen-container"></div>
      Popular <red> Products</red>
  </div>
  <div class="product-veiwer">

    <div ng-repeat="product in store | orderBy : '-likes'" class="product-carousel">
      <img ui-sref="products" src="{{ product.image }}" alt="tshirts" />
    </div>
  </div>
</section>
<section class="subscribe">
    <div class="newsletter">
        <div class="hyphen-container"></div>
        Our
        <spam> NewsLetter</spam>
    </div>
    <div class="email-input">
        <input type="email" placeholder="   youremail@domain.com" name="name" value="">
        <button type="button" name="button">Subscribe</button>
    </div>

</section>
