.about-us{
  width: 100%;
  height: 60vh;
  background: white;
  display:flex;
  justify-content:center;
  align-content:flex-start;
  flex-wrap: wrap;
  /*margin-bottom: 3%; */
}
.about-header{
  padding-top: 3%;
  width:65%;
  height: 15%;
  /*border: 2px solid black;*/
  display: flex;
  align-items: center;
  padding-left: 1%;
  font-size: 2.25rem;
  font-family: 'Poppins';
}
.about-header spam{
  font-family: "Lobster";
}
.hyphen-container{
  height: 5%;
  width: 40px;
  /*background: gray;*/
  border-bottom: 2px solid black;
  margin-right: 2%;

}
.about-info{
  width: 56%;
  height: 45%;
  /*border: 2px solid black;*/
  font-family: 'Montserrat';
  font-size: .85vw;
  line-height: 2;
  color: #805659;

}
.choose-us{
  background: #741E1F;
  width: 100%;
  height: 75vh;
  display:flex;
  justify-content:center;
  align-content:flex-start;
  flex-wrap: wrap;
  /*padding-top: 3%;*/
}
.choose-us spam{
  color: #17112D;
}
#white-out{
  color: white;
}
.hyphen-white{
  height: 5%;
  width: 40px;
  /*background: gray;*/
  margin-right: 2%;
  border-bottom: 2px solid white;
}
.garuntee{
  width: 65%;
  height: 35%;
  /*border: 2px solid black;*/
  display: flex;
  justify-content: space-around;
}
.garuntee-info{
  height: 100%;
  width: 20%;
  font-family: 'Poppins';
  /*border: 2px solid black;*/
  color: white;
  line-height: 2;
  font-size: .65vw;
}
.garuntee-info p{
  font-family: "Montserrat";
  color: #805659;

}
.garuntee-head{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10%;
  line-height: normal;
}

.popular-products{
  /*border: 2px solid black;*/
  width: 100%;
  height: 65vh;
  display:flex;
  justify-content:center;
  align-content:flex-start;
  flex-wrap: wrap;
}
.popular-products red{
  color: #9A0000;
  font-family: "Montserrat"
}

.product-veiwer{
  width: 100%;
  height:45vh;
  /*border: 2px solid black;*/
  overflow: hidden;
  display:flex;
  flex-wrap: wrap;
}
.product-carousel{
  position: relative;
  z-index: 10;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  /*overflow:hidden;*/
  /*justify-content: space-around;*/
  /*float: left;*/
  max-height: 40vh;
  width: 18%;
  margin:auto;
  padding-top: 3%;
  padding-bottom: 5%;
  /*border: 2px solid #2b2b2b;*/
}
.product-carousel img{
  position: relative;
  height: 35vh;
  width: 100%;
  cursor: pointer;
  z-index: 200;

}
.product-carousel:hover{
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}








/*space*/
